<app-header-inicio-principal></app-header-inicio-principal>

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" style="height: 400px;">
    <div class="carousel-item active"  >
      <img src="assets/michael.jpg" class="d-block w-100" alt="Evento 1">
    </div>
    <div class="carousel-item">
      <img src="assets/nirvana.jpg" class="d-block w-100" alt="Evento 2">
    </div>
    <div class="carousel-item">
      <img src="assets/amy.jpeg" class="d-block w-100" alt="Evento 2">
    </div>
    <div class="carousel-item">
      <img src="assets/conciertoGorillaz.jpg" class="d-block w-100" alt="Evento 2">
    </div>
    <div class="carousel-item">
      <img src="assets/GUNS-N-ROSES.jpeg" class="d-block w-100" alt="Evento 2">
    </div>
    <div class="carousel-item">
      <img src="assets/conciertoTwentyOnePilots.jpg" class="d-block w-100" alt="Evento 3">
    </div>
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
<div class="search-bar mt-4 mb-4">
  <form [formGroup]="filtroForm" >
    <div class="input-group">
      <input type="text" class="form-control" formControlName="nombre" placeholder="Evento, Artistas o Escenarios">
      <select class="form-select" formControlName="tipo" >
        <option value="" >Categorías</option>
        @for (item of tipos; track $index) {
          <option value="{{item}}" >{{item}}</option>
        }
      </select>
      <select class="form-select" formControlName="ciudad" >
        <option value="" >Ubicación</option>
        <option value="Armenia" >Armenia</option>
      </select> 
      <button type="button" (click)="filtrarEventos()" > Buscar </button> 
    </div>
  </form>
</div>
</div>

<div class="container">
  <h2>Eventos Disponibles</h2>
  <div class="event-list d-flex">
    @for (item of listaEventosDisponibles; track $index) {
    <app-event-card [event]="item"></app-event-card>
    }
  </div>
</div>
<router-outlet></router-outlet>