<div class="reportes-container">
    <h2>Generar Reportes</h2>
  
    <div class="reportes-buttons">
      <!-- Botón para generar reporte web con icono actualizado -->
      <button class="btn report-web" (click)="generarReporteWeb()">
        <i class="fa-solid fa-globe"></i> <!-- Icono actualizado para el reporte web -->
        Generar Reporte Web
      </button>
    
      <!-- Botón para generar reporte PDF con icono actualizado -->
      <button class="btn report-pdf" (click)="generarReportePdf()">
        <i class="fa-solid fa-file-pdf"></i> <!-- Icono para el reporte PDF -->
        Generar Reporte PDF
      </button>
    </div>
    
  </div>
<router-outlet></router-outlet>  