* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* Fondo claro */
    color: #333333; /* Texto oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #ffffff; /* Texto blanco */
    cursor: pointer;
    width: 48%;
}

.container {
    width: 400px;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    align-items: center; /* Centrar contenido dentro del contenedor */
}

h1 {
    margin-top: 1%;
    color: #333333; /* Texto oscuro */
}

h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #333333; /* Texto oscuro */
}

label {
    font-size: 14px;
    color: #333333; /* Texto oscuro */
}

input { 
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px;
    background-color: #f9f9f9; /* Fondo claro */
    color: #333333; /* Texto oscuro */
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333333; /* Texto oscuro */
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50; /* Botón verde */
    color: #ffffff; /* Texto blanco */
}

.btn.secondary {
    background-color: #dc3545; /* Botón secundario en rojo */
    color: #ffffff; /* Texto blanco */
}

.btn.secondary:hover {
    background-color: #c82333; /* Color de hover */
}

.forgot-password {
    display: block;
    margin-bottom: 10px;
    text-align: right;
    font-size: 12px;
    color: #555555; /* Texto gris oscuro */
}
