<div class="container">
    <div class="form-container">
        <h2>Cambiar Contraseña</h2>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        
        <label for="codigo">Código enviado al correo</label>
        <input type="text" id="codigo" required [(ngModel)]="codigo" name="codigo">
        
        <label for="password">Nueva contraseña</label>
        <div class="password-container">
            <input [type]="passwordVisible ? 'text' : 'password'" id="password" placeholder="*********" required [(ngModel)]="password" name="password">
            <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">👁️</button>
        </div>
        
        <label for="confirm-password">Confirma tu contraseña</label>
        <div class="password-container">
            <input [type]="passwordVisible ? 'text' : 'password'" id="confirm-password" placeholder="*********" required [(ngModel)]="confirmPassword" name="confirmPassword">
            <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">👁️</button>
        </div>
        
        <button type="submit" class="btn">Cambiar contraseña</button> 
        <button type="button" class="btn secondary" (click)="cancel()">Cancelar</button>
        </form>
    </div>
</div>
<router-outlet></router-outlet>
