.event-board{
    width: 100%; /* Asegura que el ancho sea igual al del adminHeader */
    padding: 20px;
    box-sizing: border-box;
}


.event-header h2 {
    margin: 0;
}

.btn {
    width: 60px;
    border-radius: 5px;
    background-color: #007bff; /* Color de fondo para "Agregar" */
}
  
.btn:hover {
    background-color:  #0056b3; /* Color al pasar el ratón */
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 300px; /* Ancho medio, ajustable */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .search-btn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 8px;
  }
  
  .search-btn i {
    font-size: 18px;
  }
  

