<div class="event-board">
  <h2>Gestión de eventos</h2>
  
  <!-- Barra de búsqueda -->
  <div class="search-container">
    <input type="text" class="search-input" (input)="filtrarEventos($event)" placeholder="Buscar eventos...">
    <button class="search-btn">
      <i class="fa fa-search"></i>
    </button>
  </div>
  
  <!-- Botón para agregar un evento -->
  <button class="btn" (click)="agregarEvento()">
    <i class="fa-solid fa-plus"></i>
  </button>

  <!-- Sección de eventos disponibles -->
  <h2>Eventos Disponibles</h2>
  <div class="event-list">
    <app-event-card *ngFor="let event of listaEventosDisponibles" [event]="event"></app-event-card>
  </div>

  <!-- Sección de eventos no disponibles -->
  <h2>Eventos No Disponibles</h2>
  <div class="event-list">
    <app-event-card *ngFor="let event of listaEventosNoDisponibles" [event]="event"></app-event-card>
  </div>
</div>
