<app-user-header></app-user-header>

<div *ngIf="evento; else loading">
  <div class="banner">
    <img [src]="evento.imagenPortada" alt="{{evento.nombre}}" class="banner-img" />
  </div>

  <section class="event-details">
    <div class="date">
      <div class="date-box">
        <span>{{ evento.fecha | date:'d' }}</span>
        <p>{{ evento.fecha | date:'MMMM' }}</p>
      </div>
    </div>
    <div class="details">
      <h2>{{ evento.nombre }}</h2>
      <p><strong>Ciudad:</strong> {{ evento.ciudad }}</p>
      <p><strong>Lugar:</strong> {{ evento.direccion }}</p>
      <p><strong>Fecha:</strong> {{ evento.fecha | date:'d \'de\' MMMM \'del\' yyyy' }}</p>
      <p><strong>Descripción:</strong> {{ evento.descripcion }}</p>
      <p><strong>Categoría:</strong> {{ evento.tipo }}</p>
      <p><strong>Promedio de Calificaciones:</strong> {{ evento.promedioCalificaciones }} / 5</p>
      <p><strong>Hora:</strong> {{ evento.fecha | date:'h:mm a' }}</p>
    </div>
  </section>

  <section class="seating">
    <h3>Ubicación y precios</h3>
    <div class="seating-info">
      <div class="seating-chart">
        <img [src]="evento.imagenLocalidades" alt="Mapa de asientos" />
      </div>
      <div class="prices">
        <table>
          <thead>
            <tr>
              <th>Ubicación</th>
              <th>Precio</th>
              <th>Capacidad Maxima</th>
              <th>Capacidad disponible</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let localidad of evento.localidades">
              <td>{{ localidad.nombre }}</td>
              <td>{{ localidad.precio | currency:'COP' }}</td>
              <td>{{ localidad.capacidadMaxima }}</td>
              <td>{{ localidad.capacidadMaxima - localidad.entradasVendidas  }}</td>
              <td class="quantity-cell">
                <input
                  type="number"
                  min="1"
                  max="{{ localidad.capacidadMaxima - localidad.entradasVendidas }}"
                  [(ngModel)]="localidad.cantidadSeleccionada"
                  class="quantity-selector"
                />
                <button 
                  [disabled]="localidad.capacidadMaxima - localidad.entradasVendidas === 0" 
                  class="add-button"
                 (click)="agregarAlCarrito(evento.id, localidad.cantidadSeleccionada, localidad.nombre)">
                  <i class="fas fa-plus"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>

<ng-template #loading>
  <p>Cargando detalles del evento...</p>
</ng-template>
