<div class="cupon-card">
  <div class="cupon-header">
    <h3>{{ cupon.nombre }}</h3>
    <span [ngClass]="cupon.estado === 'DISPONIBLE' ? 'cupon-status disponible' : 'cupon-status no-disponible'">
      {{ cupon.estado }}
    </span>
  </div>
  
  <div class="cupon-body">
    <p><span class="cupon-info-title">Descuento:</span> {{ cupon.descuento }}%</p>
    <p><span class="cupon-info-title">Código:</span> {{ cupon.codigo }}</p>
  </div>

  <div class="cupon-footer">
    <div class="tooltip">
      <button class="btn edit-btn"  >
        <i class="fa-solid fa-edit"></i>
      </button>
      <span class="tooltip-text">Actualizar</span>
    </div>
    <div class="tooltip">
      <button class="btn delete-btn" (click)="eliminarCupon()">
        <i class="fa-solid fa-trash"></i>
      </button>
      <span class="tooltip-text">Eliminar</span>
    </div>
  </div>

  <div *ngIf="alertMessage" class="alert" [ngClass]="alertType">
    {{ alertMessage }}
  </div>
</div>
