/* Variables para el tema claro */
:root {
    --bg-color: #f5f5f5; /* Fondo claro */
    --text-color: #333; /* Texto oscuro para buen contraste */
    --input-border-color: #ccc; /* Borde claro para inputs */
    --input-bg-color: #fff; /* Fondo claro para inputs */
    --button-text-color: #fff; /* Texto blanco en botones */
    --forgot-password-color: #007BFF; /* Azul para enlaces */
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

/* Botón */
.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: var(--button-text-color);
    cursor: pointer;
    width: 48%;
}

/* Contenedor */
.container {
    width: 400px;
    padding: 20px;
    background-color: #ffffff; /* Fondo claro */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    align-items: center; /* Centrar contenido dentro del contenedor */
}

h1 {
    margin-top: 1%;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color);
}

label {
    font-size: 14px;
    color: var(--text-color);
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    background-color: var(--input-bg-color);
    color: var(--text-color);
}

.password-container {
    position: relative;
}

/* Icono para mostrar/ocultar contraseña */
.toggle-password {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Botones */
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

.btn.secondary {
    background-color: #007BFF;
    color: white;
}

/* Enlace de contraseña olvidada */
.forgot-password {
    display: block;
    margin-bottom: 10px;
    text-align: right;
    font-size: 12px;
    color: var(--forgot-password-color);
}

/* Snackbar personalizado */
.custom-snackbar {
    background-color: #ff4d4d; /* Rojo para mensajes de error */
    color: #ffffff;
    font-weight: bold;
}
