.cupon-board {
    width: 100%; /* Asegura que el ancho sea igual al del adminHeader */
    padding: 20px;
    box-sizing: border-box;
  }
  
  .cupon-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .cupon-header h2 {
    margin: 0;
  }
  
.add-btn {
  width: 60px;
  border-radius: 5px;
  background-color: #007bff; /* Color de fondo para "Agregar" */
}

.add-btn:hover {
  background-color:  #0056b3; /* Color al pasar el ratón */
}

  
  .cupon-cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .no-cupones {
    font-size: 3.2em;
    color: #0056b3;
    text-align: center;
    margin-top: 40px;
    text-align: center;
  }
  