.cupon-board {
  width: 100%; /* Asegura que el ancho sea igual al del adminHeader */
  padding: 20px;
  box-sizing: border-box;
  background-color: #1c1c1e; /* Fondo oscuro */
  color: #f0f0f0; /* Texto claro */
}

.cupon-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #444; /* Borde más oscuro para el tema oscuro */
  padding-bottom: 10px;
}

.cupon-header h2 {
  margin: 0;
  font-size: 1.5em;
  color: #f0f0f0; /* Texto claro */
}

.add-btn {
  width: 60px;
  height: 40px;
  border-radius: 5px;
  background-color: #007bff; /* Color de fondo para "Agregar" */
  color: white; /* Color del texto en el botón */
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.add-btn:hover {
  background-color: #0056b3; /* Color al pasar el ratón */
}

.cupon-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: start;
  margin-bottom: 20px;
}

.cupon-card {
  width: 100%; /* Asegura que todas las tarjetas se adapten al espacio de la columna */
  max-width: 250px; /* Ancho máximo para las tarjetas */
  height: 300px; /* Altura fija para todas las tarjetas */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.cupon-body {
  flex-grow: 1; /* Asegura que el cuerpo de la tarjeta crezca para llenar el espacio */
}

.cupon-body p {
  margin: 4px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es demasiado largo */
}

.cupon-header h3 {
  font-size: 1.2em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cupon-card:hover {
  transform: translateY(-10px); /* Efecto hover para dar sensación de movimiento */
}

.no-cupones {
  font-size: 2.4em; /* Tamaño grande pero no excesivo */
  color: #007bff; /* Color de texto para el mensaje */
  text-align: center;
  margin-top: 40px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 10px;
}
